/*header.scss*/
header{
    h1{
        font-size: 2.5rem;
        color: aqua;
        padding-bottom: $padding;
    }
    h2{
        font-size: 1.5rem;
        color: navy;
    }
}
/* end header.scss*/